{% layout "base" %} 

{% block content %} 

<p> Enter the 6 digits code below to sign in to Peer Evaluation LSBU. </p>

<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <td align="center">
    <p style="color: #5e5e5e; border: 2px solid #999999; padding: 10px; border-radius: 5px; font-size: 1.5rem; display: inline-block;" id="sign-in-code">{{code}}</p>
    <p> This code will expire in {{expireTime}} {{expireTimeUnit}}.</p>
    <a href="{{signInUrl}}" id="sign-in-url" class="f-fallback button" target="_blank">REQUEST NEW CODE</a>
  </td>
</table>

<p>Using this code will securely sign you in using {{email}}.</p> 

{% endblock %}
